METAAPI_TOKEN=isi_token_metaapi_disini
METAAPI_ACCOUNT_ID=isi_account_id_metaapi_disini
SYMBOL=XAUUSD
TIMEFRAME=15m
EMA_FAST=50
EMA_SLOW=200
ATR_PERIOD=14
ATR_SL_MULTIPLIER=1.5
ATR_TP_MULTIPLIER=2.5
ASIA_START=0
ASIA_END=7
RISK_PERCENT=1.0
MAX_DAILY_LOSS_PERCENT=3.0
CHECK_INTERVAL_SECONDS=60
